{
    "openapi": "3.0.0",
    "info": {
        "title": "Brewit API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.brewit.money"
        }
    ],
    "components": {
        "securitySchemes": {
            "noauthAuth": {
                "type": "http",
                "scheme": "noauth"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "paths": {
        "/badges/{id}": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "https://api.brewit.money/badges",
                "security": [
                    {
                        "noauthAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "integer"
                        },
                        "required": true,
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/badges": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "https://api.brewit.money/badges Copy",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}